<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-feature android:name="android.hardware.camera.front" android:required="true"/>

    <application
        android:allowBackup="false"
        android:label="SentinelGate"
        android:theme="@style/Theme.SentinelGate"
        android:usesCleartextTraffic="false">

        <!-- Entry point -->
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.faceenroll.FaceVerifyActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.home.HomeActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.checkout.CheckoutActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.checkin.CheckinActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.history.HistoryActivity"
            android:screenOrientation="portrait"/>

        <!-- ZXing QR scanner -->
        <activity android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"/>

        <!-- WorkManager sync -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false">
            <meta-data
                android:name="androidx.work.impl.WorkManagerInitializer"
                android:value="androidx.startup"/>
        </provider>

    </application>
</manifest>
